{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <main class="container p-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Share</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {%for stock in stocks%}
                <tr>
                    <td>
                        {{stock.symbol}}
                    </td>
                    <td>
                        {{stock.stocks}}
                    </td>
                    <td>
                        {{stock.number}}
                    </td>
                    <td>
                        {{stock.price}}
                    </td>
                    <td>
                        {{stock.total}}
                    </td>

                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>$10,000.00</td>
            </tr>
        </tfoot>
    </table>
    </main>
{% endblock %}