{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <h4>Examples of companies and their symbols</h4>
    <table class="table table-striped"> 
        <thead>
          <tr>
            <th scope="col">Company Name</th>
            
            <th scope="col">Symbol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Company Name">Apple</td>
            <td data-label="Symbol">AAPL</td>
          </tr>
          <tr>
            <td scope="row" data-label="Company Name">Microsoft</td>
            <td data-label="Symbol">MSFT</td>
          </tr>
          <tr>
            <td scope="row" data-label="Company Name">Tesla</td>
            <td data-label="Symbol">TSLA</td>
          </tr>
          <tr>
            <td scope="row" data-label="Company Name">Intel</td>
            <td data-label="Symbol">INTC</td>
          </tr>
          <tr>
            <td scope="row" data-label="Company Name">Tata Motors</td>
            <td data-label="Symbol">TTM</td>
          </tr>
          <tr>
            <td scope="row" data-label="Company Name">Ebay Inc.</td>
            <td data-label="Symbol">EBAY</td>
          </tr>
          <tr>
            <td scope="row" data-label="Company Name">Netflix</td>
            <td data-label="Symbol">NFLX</td>
          </tr>
          <tr>
            <td scope="row" data-label="Company Name">Coco Cola</td>
            <td data-label="Symbol">KO</td>
          </tr>
        </tbody>
      </table>
      &nbsp;&nbsp;
      <a href="https://www.advfn.com/nasdaq/nasdaq.asp">Check out more companies and their stock prices.</a>
    
{% endblock %}